body {
  //background-image: url(assets/images/bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Roboto";
  color: $primary-color;
  nav{
    li{
      display: inline;
    }
  }
  img{
    width:200px;
    height:auto;
   
  }
}

